<ion-header>
  <ion-toolbar>
    <ion-title>
      Formulario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div margin=5px>
Nombre: <input type="label" name="nombre">
</div>
<div margin=5px>
Apellidos: <input type="label" name="Apellidos">
</div>
<div margin=5px>
 <p>Sexo:
    <input type="radio" name="hm" value="h"> Hombre
    <input type="radio" name="hm" value="m"> Mujer
  </p>
</div>
<div margin=5px>
Años: <input type="label" name="Años">
</div>

<div margin=5px>
Localidad: <input type="label" name="Localidad">

</div>
<div margin=5px>
E-Mail: <input type="label" name="E-Mail">
</div>
<div margin=5px>
<input type="submit" name="Enviar">
<input type="reset" name="Borrar">
</div>
</ion-content>
