<ion-header>
  <ion-toolbar>
    <ion-title>Idiomas</ion-title>
    <ion-buttons	slot="start">	
			<ion-back-button	defaultHref="/tabs/tab1"></ion-back-button>	
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
		<br>
	<ul>
		<li><b>Español:</b></li>
		<br>
		<ul>
			<li>Idioma materno</li>
		</ul>
	</ul>
		<br>
	<ul>
		<li><b>Euskera:</b></li>
		<br>
		<ul>
			<li>Nivel: B1</li>
		</ul>
	</ul>	
	<br>
	<ul>
		<li><b>Ingles:</b></li>
		<br>
		<ul>
			<li>Nivel: B1</li>
		</ul>
	</ul></ion-content>
