<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img  id="perfilfoto" src="/assets/foto.jpg"></ion-img>
      </ion-card>
        <ion-card id="inf">
      <ion-card-header>

        <ion-card-title>Aitor Ortiz de Zarate Galar</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> <b>Fecha de nacimiento:</b> 2000/10/02<br>
            <b>Edad:</b> 18<br>
            <b>Localidad:</b> Lezo<br>
            <b>Telefono:</b> 678912345
           

            </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label><b>Bloques</b></ion-label>
      </ion-list-header>
      <ion-item href="http://localhost:8100/formacion">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Formacion Academica</ion-label>
      </ion-item>
      <ion-item href="http://localhost:8100/experencia">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Experiencia Profesional</ion-label>
      </ion-item>
      <ion-item href="http://localhost:8100/idiomas">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Idiomas</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
